body{

    background-image: url(./images/background2.jpg);

background-size: cover;
}
.card1{
    max-width: 70vh;
    background-color: rgb(185, 223, 178) !important;
}
.font1{
    font-family: 'Lobster', cursive;
}
